body{
    margin: 0;
    padding: 0;
    
    background-repeat: no-repeat;
    font-size: 10px;
}
nav {
    margin-top: 0rem;
    background-color: #121212f6; /* Background color for the navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
  }
  nav h2 {
    color: white;
    font-size: 1.2rem;
    margin-right: 30%;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0px 25px;
    font-size: 0.9rem;
    font-family: "Times New Roman", Times, serif;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  .navbar a:hover {
    background-color: white;
    color: black;
    padding: 0.3rem 1rem;
    border-radius: 50px;
    font-weight: 800;
  }
  .logo img {
    height: 10%;
    width: 10%;
    border-radius: 80px;
  }
.welcome{
    padding: 2rem 0rem;
    text-align: center;
    color: black;
}
.welcome h2{
    font-size: 2rem;
}
.shop{
    height: 115vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box{
    width: 30%;
    height:50%;
    margin: 1rem;
    box-shadow: 3px 3px 15px rgba(37, 37, 37, 0.867);
    border-radius: 15px;
    
}
.box img{
    
    width: 70%;
    height: 50%;
    margin: 1rem 3rem;
}
.box h4{
   
    text-align: center;
    color:white;
    font-size: 1.3rem;
    margin-top: 0;
    background-color: rgba(81, 81, 81, 0.504);
}
.box .main-section{
    
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
    height: 12%;
}
.box .main-section button{
    font-weight: 600;
    font-size: 1rem;
    background-color: rgb(184, 121, 4);
    padding: 0.5rem 2rem 1rem 2rem ;
    text-align: center;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: white;
    transition: .3s;
}
.main-section button a{
  text-decoration: none;
  color: #fff;
}
.main-section button:hover{
    background-color:white;
    color: black;
}
.main-section button:hover a{
  color: black;
}
#days-form {
  display: none;
  margin: 10px;
  text-align: center;
  font-size: 1rem;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="number"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#submitDays,.result button {
  padding: 10px 20px;
  background-color: #0074e4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.calc{
  width: 100%; 
}
#days-form,.result{
  width: 40%;
  margin-left: 35%;
  box-shadow: 2px 3px 3px grey;
  border-radius: 5px;
}
.calc button{
  margin: 1rem;
}
.calc input{
  font-size: 1.3rem;
  border: 1px solid black;
  border-radius: 5px;
}
.calc label{
  font-size: 1.3rem;
  margin-top: 2rem;
}
.result{
  text-align: center;
  display: none;
  font-size: 1.2rem;
}
